<ul>
  <% if can? :show, current_user %>
    <li><%= link_to 'Profile', user_path(current_user) %></li>
  <% end %>
  <% if can? :index, User %>
    <li><%= link_to 'Users', users_path, class: ('nav--a--active' if controller_name == 'users') %></li>
  <% end %>
  <% if can? :index, Post %>
    <li><%= link_to 'Posts', posts_path, class: ('nav--a--active' if controller_name == 'posts') %></li>
  <% end %>
  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
</ul>
