.flash-messages {
  position: absolute;
}

.flash-message {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.flash-error {
  background: #c33;
}

.flash-notice {
  background: #6c6;
}
